@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Eater');
body {
    font-family: 'Shrikhand', 'Lato', Arial, Helvetica, sans-serif;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid rgb(170, 5, 129);
    border-radius: 4px;
}

input[type=text]:focus { 
    background-color: red;
    color: rgb(255,255,255)
}

input[type=number]:focus { 
    border: 8px solid red;
}

input[type=number] {

        background-color : #1f8001; 
        color: rgb(255,255,255)
}

ul {
    list-style-type: none;
  }

div {
    font-family: 'Eater','Shrikhand', 'Lato';
   
}

h1{
    border-style: dashed;
    box-sizing: border-box;
    border: 2px solid rgb(233, 250, 1);
}